/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// mixins
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

$tablet-width: 620px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin tabletanddesktop {
	@media (min-width: #{$tablet-width}){
		@content;
	}
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}


body {

}
header {
	background-color: rgba(163, 163, 163, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
}
header h2 {
	font-family: "Walkway";
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	padding: 10px 0;
	@include tabletanddesktop{
		font-size: 40px;
	}
}

header a{
	text-decoration: none;
	color: #0b4a70;
}
.header-nav{
	height: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: "Open Sans";
	font-weight: normal;
	i{
		padding-right: 10px;
	}
	li{
		padding: 10px 20px 10px 0;
	}
	@include tabletanddesktop{
		height: auto;
		flex-direction: row;
	}
}
.branding{
	display: flex;
	align-items: center;
}
.hamburger{
	padding-right: 20px;
	order: -1;
	cursor: pointer;
	@include tabletanddesktop{
		display: none;
	}
}
#hero {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	background-image: url("../.././images/bkgd-home.jpg");
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100vh;
}
#hero h1 {
	font-family: "Southern Aire Personal Use Only";
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	@include tabletanddesktop{
		font-size: 80px;
	}
}
#hero h2 {
	font-family: "Walkway";
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	@include tabletanddesktop{
		font-size: 25px;
	}
}
.profile {
	background-image: url("../.././images/profile.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	border-radius: 200px;
	border: 4px solid #d3d3d3;
	margin-bottom: 30px;
	@include tabletanddesktop{
		height: 300px;
		width: 300px;
	}
}

//about me section

#aboutme h1{
	font-family: "Walkway";
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	padding-top: 30px;
	padding-left: 10px;
	width: 100%;
}
#aboutme{
	display: flex;
	flex-wrap: wrap;
	background-image: url('../../images/bkgd-about-2.jpg');
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	height: 100vh;
}

/*skills bar chart*/

.story{
	width: 100%;
	padding: 10px;
}
.skills{
	width: 100%;
	padding: 10px;
	h3{
		font-family: "Open Sans";
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		width: 100%;
	}
	display: flex;
	flex-wrap: wrap;
	.grid-container{
		width: 100%;
		display: grid;
		grid-template-columns: repeat(5, 20%);
		grid-template-rows: repeat(6, 16.66%);
	}
	.stack{
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.stack-container{
		grid-row: 3/7;
		grid-column: 1/2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.proficiency{
		grid-column: 2/3;
		grid-row: 1/2;
		padding-left: 20px;
	}
	.proficiency-container{
		grid-row: 2/3;
		grid-column: 2/6;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-bottom: 10px;
		padding-left: 20px;
	}
	.bar-container{
		grid-row: 3/7;
		grid-column: 2/6;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-left: 20px;
	}
	@keyframes html{
		from {width: 0%;}
		to {width: 90%;}
	}
	.html.inactive{
		text-align: right;
		background-color: red;
		height: 16px;
		width: 0;
	}
	.html.active{
		@extend .html.inactive ;
		animation: html 2s ease-out;
		animation-fill-mode: forwards;
	}
	.css.inactive{
		@extend .html.inactive ;
	}
	.css.active{
		@extend .html.active ;
	}
	@keyframes js{
		from {width: 0%;}
		to {width: 65%;}
	}
	.js.inactive{
		text-align: right;
		background-color: red;
		height: 16px;
		width: 0;
	}
	.js.active{
		@extend .js.inactive ;
		animation: js 2s ease-out;
		animation-fill-mode: forwards;
	}
	@keyframes react{
		from {width: 0%;}
		to {width: 40%;}
	}
	.react.inactive{
		text-align: right;
		background-color: red;
		height: 16px;
		width: 0;
	}
	.react.active{
		@extend .react.inactive ;
		animation: react 2s ease-out;
		animation-fill-mode: forwards;
	}
	.wp.inactive{
		text-align: right;
		background-color: red;
		height: 16px;
		width: 0;
	}
	.wp.active{
		@extend .wp.inactive ;
		animation: js 2s ease-out;
		animation-fill-mode: forwards;
	}
}

/*languages bar chart section*/

.languages{
	width: 100%;
	padding: 10px;
	h3{
		font-family: "Open Sans";
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		width: 100%;
	}
	display: flex;
	flex-wrap: wrap;
	.grid-container{
		width: 100%;
		display: grid;
		grid-template-columns: repeat(5, 20%);
		grid-template-rows: repeat(5, 20%);
	}
	.language{
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.languages-container{
		grid-row: 3/6;
		grid-column: 1/2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.proficiency{
		grid-column: 2/3;
		grid-row: 1/2;
		padding-left: 20px;
	}
	.proficiency-container{
		grid-row: 2/3;
		grid-column: 2/6;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-bottom: 10px;
		padding-left: 20px;
	}
	.bar-container{
		grid-row: 3/6;
		grid-column: 2/6;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-left: 20px;
	}
	@keyframes german{
		from {width: 0%;}
		to {width: 90%;}
	}
	.german.inactive{
		background-color: red;
		height: 16px;
		width: 0;
	}
	.german.active{
		@extend .german.inactive ;
		animation: german 2s ease-out;
		animation-fill-mode: forwards;
	}
	.english.inactive{
		@extend .german.inactive ;
	}
	.english.active{
		@extend .german.active ;
	}
	@keyframes french{
		from {width: 0%;}
		to {width: 50%;}
	}
	.french.inactive{
		@extend .german.inactive ;
	}
	.french.active{
		@extend .german.inactive ;
		animation: french 2s ease-out;
		animation-fill-mode: forwards;
	}
	@keyframes italian{
		from {width: 0%;}
		to {width: 20%;}
	}
	.italian.inactive{
		@extend .german.inactive ;
	}
	.italian.active{
		@extend .german.inactive ;
		animation: italian 2s ease-out;
		animation-fill-mode: forwards;
	}
}

/*personal interest section*/

.personal-interest{
	width: 100%;
	padding: 10px;
	h3{
		font-family: "Open Sans";
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		width: 100%;
	}
	display: flex;
	flex-wrap: wrap;
}
